@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=IBM+Plex+Sans+KR:wght@100&family=Monoton&family=Nanum+Myeongjo:wght@700&family=Noto+Serif+KR:wght@200&display=swap");


*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}


/* header stylesheet */
header{
    height: 100px;
    position: relative;
}
header input[id=menubar]{
    display: none;
}
header input[id=menubar]:checked ~ .menu{
    top: 100%;
}
header label[for=menubar]{
    height: 100%;    
}
header label[for=menubar] span{
    position: absolute;
    top: 50%;
    left: 5px;
    width: 35px;
    height: 3px;
    background-color: black;
    text-align: center;
    cursor: pointer;
}
header .bigtitle{
    height: 100%;
    font-size: 70px;
    font-family:"EB Garamond", serif;
    text-shadow: 0 20px 7px #c4c4c4;
    text-align: center;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
header .login{
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 40%;
    right: 5px;
}
header .menu{
    width: 300px;
    height: 500px;
    background-color: rgba(0, 100, 0, 0.7);
    position: absolute;
    top: -500px;
    left: 0;
}
header .menu > a{           /* 큰 메뉴 */
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
}
header .menu a{            /* 작은 메뉴 */
    text-decoration: none;
    color: black;
    display: block;
    margin: 20px;
}
.menu .shop{
    margin-bottom: 0;
}
.shop:hover + .shop_{
    height: 300px;
}
.shop_{
    transition: 1s;
    height: 0;
    overflow: hidden;
}
.about:hover +.about_{
    height: 140px;
}
.menu .about{
    margin-bottom: 0;
}
.about_{
    transition: 1s;
    height: 0;
    overflow: hidden;
}
.stores:hover{
    text-decoration: underline;
}
.contact:hover{
    text-decoration: underline;
}



/*  banner stylesheet */
.banner img{
    width: 100%;
}

/* aisde stylesheet */
aside img{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 30px;
    bottom: 200px;
}
aside img:hover{
    transform: rotateY(360deg);
    transition-duration: 1s;
}
aside a{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid  rgb(0, 64, 0);
    background-color:  rgb(0, 64, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    line-height: 100px;
    position: fixed;
    right: 30px;
    bottom: 80px;
}

/* items stylesheet */
.items{
    display: flex;
}
.items img{
    width: 200px;
    height: 200px;
    margin: 50px auto;
}
.items img:hover{
    transform: scale(1.1);
}

/* contents stylesheet */

.contents .title{
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    font-weight: bolder;
}
.contents .list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.contents .list div{
    padding: 0 50px;
    width: 50%;
}
.contents img{
    display: block;
    width: 500px;
    height: 600px;
}




/*** footer stylesheet ***/
footer{
    width: 1440px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(28, 73, 28) ;
    padding-top: 20px;
}





@media screen and (max-width:768px){
    .wrapper{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    header .bigtitle{
        font-size: 35px;
        font-family:"EB Garamond", serif;
        text-shadow: 0 10px 3.5px #c4c4c4;
    }
    header label[for=menubar] span{
        width: 17.5px;
        height: 1.5px;
    }
    .items{
        display: block;
    }
    .contents .list{
        display: block;
        margin: 100px auto;
    }
    .contents .list div{
        width: 100%;
        padding: 0 ;
    }
    .contents img{
        display: block;
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
    footer{
        width: 50%;
        display: inline-block;
    
    }
    footer div{
        margin: 20px 0;
    }
    footer .two,
    footer .three,
    footer .four,
    footer .five{
        display: none;
    }
}

